<div class="toolbar">
  <h1 id="pageTitle">
    Freshbooks
  </h1>
</div>
<ul id="home" selected="true" title="Freshbooks">
  <li><a href="Invoice">Invoices</a></li>
  <li><a href="Settings/login">Login</a></li>
  <li><a href="Settings/do_sync">Sync</a></li>
</ul>
 
 
 
 
 
 
